.dictionary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 4rem auto;

    input {
        width: 30rem;
        padding: 10px;
        border: 1px solid #cccccc80;
        box-shadow: 0 4px 8px rgba(249, 246, 246, 0.432);
        border-radius: 1rem;
        margin-bottom: 10px;
    }

    .searchButton {
        margin-top: 2rem;
    }

    button {
        padding: 0.5rem 2rem;
        color: white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;


        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    &__result {
        margin-top: 20px;
        text-align: left;

        h2 {
            margin-bottom: 10px;
        }

        .wordSound {
            margin: 1rem;
            padding: 0.4rem;
        }

    }

    &__meanings {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

    &__meaning {
 //       flex: 1;
        max-width: 250px;

        span {
            font-style: italic;
            color: #555;
            font-size: .85rem;
        }
    }



&__example {
    margin-top: 5px;
    font-style: italic;
    color: #555;
}
}