@import "./_media";

.dictionary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 4rem auto;

    input {
        width: 28rem;
        padding: 10px;
        border: 1px solid #cccccc80;
        box-shadow: 0 4px 8px rgba(249, 246, 246, 0.432);
        border-radius: 1rem;
        margin-bottom: 10px;
    }

    &__searchButton,
    &__resetButton {
        margin-top: 2rem;

    }

    button {
        padding: 0.5rem 2rem;
        color: white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;


        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    &__resetButton {
        margin-left: 1rem;
    }

    &__filter {
        margin: 0 1rem;
    }

    &__result {
        margin-top: 4rem;
        text-align: left;

        h2 {
            margin-bottom: 10px;
        }
    }

    &__phonetics {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__phonetic {
        margin-bottom: 10px;

        .wordSound {

            padding: 0.5rem;
            margin: 0 1rem;
        }

        small {
            font-size: 0.85rem;
        }
    }


    &__meanings {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;

    }

    &__meaning {
        margin-top: 20px;
        max-width: 250px;

        span {
            font-style: italic;
            color: #555;
            font-size: .85rem;
        }

    }

    &__definition {
        margin-bottom: 10px;
    }

    &__example {
        margin-top: 5px;
        font-style: italic;
        color: #555;
    }

    &__error {
        color: red;
        margin-top: 10px;
    }

    &__filter {
        margin-top: 10px;
        padding: 0.2rem;
        border: 1px solid #cccccc80;
        border-radius: 0.5rem;
        text-align: center;
    }
}


@include small-phone {
    .dictionary {
        max-width: 210px;

        &__buttons {
            display: flex;
            align-items: flex-start;
        }

        input {
            width: 14rem;
        }

        &__filter {
            margin: 0 1rem;
            padding: 1px;
        }

        &__phonetic {
            .wordSound {
                padding: 0.3rem;
                margin: 0 1rem;
            }
        }

        &__result {
            margin-top: 4rem;
            text-align: left;
            max-width: 25rem;

        }
    }

}

@include phone {
    .dictionary {
        max-width: 250px;
        margin: 2rem auto;

        &__buttons {
            display: flex;
            align-items: flex-start;
        }

        input {
            width: 15rem;
        }

        &__filter {
            margin: 0 1rem;
        }

        &__phonetic {
            .wordSound {
                padding: 0.3rem;
                margin: 0 1rem;
            }
        }
    }
}

@include tablet {
    .dictionary {
        max-width: 300px;
        margin: 2rem auto;

        &__buttons {
            display: flex;
            align-items: flex-start;
        }

        input {
            width: 15rem;
        }

        &__filter {
            margin: 0 1rem;
        }

        &__phonetic {
            .wordSound {
                padding: 0.3rem;
                margin: 0 1rem;
            }
        }
    }
}


@include tablet-landscape {
    .dictionary {
        max-width: 250px;
        margin: 2rem auto;

        &__buttons {
            display: flex;
            align-items: flex-start;
        }

        input {
            width: 17rem;
        }

        &__filter {
            margin: 0 1rem;
        }

        &__phonetic {
            .wordSound {
                padding: 0.3rem;
                margin: 0 1rem;
            }
        }
    }
}