@import "./_media";
.keyboard {
    display: grid;
    grid-template-columns: repeat(9, 40px); 
    gap: 10px;
    width: 66.66%;
    max-width: 90%;
    margin: 4rem auto;
    align-items: center; 
  justify-items: start; 
  grid-auto-flow: dense; 
  }
  .keyboard__key {
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    &--special {
      font-weight: bold;
    }
  
    &:hover {
      background-color: #c0c0c07a;
    }
  
    &:active {
      background-color: #c0c0c07a;
    }
  }
  .keyboard__special-keys {
    grid-column-start: span 4; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-self: end; 
  }
.tiles {
    background: rgb(214, 140, 43);
    background: linear-gradient(90deg, rgba(214, 140, 43, 1) 0%, rgba(255, 205, 46, 1) 35%, rgba(255, 230, 46, 1) 100%);
    border-radius: 5%;
}

@include small-phone {
.keyboard{display: none;}
}

@include phone {
.keyboard{
  margin: 4rem 2rem;
  grid-template-columns: repeat(7, 40px);
}
}

@include tablet {
  .keyboard{
    margin: 4rem 2rem;
    grid-template-columns: repeat(7, 50px);
  }
}


@include tablet-landscape {


}