.settings-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
    .navbar__item {
      cursor: pointer;
    }
  
    .nav-item__cross {
      cursor: pointer;
      position: absolute;
  
      filter: invert(1); 
    }
  }